/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2014, 11:50:55 PM
    Author     : Praew
*/
#add_product {
    padding-left: 50px;
    width: 30%;
    height: 150px;
    border: 2px blanchedalmond solid;
}

